/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");


body {
  background: rgba(57, 100, 208, 1);
  background: -moz-linear-gradient(
    left,
    rgba(57, 100, 208, 1) 0,
    rgba(45, 193, 201, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0, rgba(57, 100, 208, 1)),
    color-stop(100%, rgba(45, 193, 201, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(57, 100, 208, 1) 0,
    rgba(45, 193, 201, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(57, 100, 208, 1) 0,
    rgba(45, 193, 201, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(57, 100, 208, 1) 0,
    rgba(45, 193, 201, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(57, 100, 208, 1) 0,
    rgba(45, 193, 201, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Poppins";
  color: #ffffff;
}

.main {
  background: black;
  height: 60px;
}

.jumbotron {
  margin: 0 0 15px;
  padding: 20px 0 15px;
  overflow: hidden;
  background: rgba(57, 100, 208, 1);
  background: linear-gradient(
    to right,
    rgba(57, 100, 208, 1) 0,
    rgba(45, 193, 201, 1) 100%
  );
  text-align: center;
} */
